amqp==5.3.1
asgiref==3.8.1
billiard==4.2.1
build==1.2.2.post1
celery==5.5.1
click==8.1.8
click-didyoumean==0.3.1
click-plugins==1.1.1
click-repl==0.3.0
Django==5.2
django-environ==0.12.0
djangorestframework==3.16.0
dnspython==2.7.0
dotenv==0.9.9
gunicorn==23.0.0
kombu==5.5.3
mongoengine==0.29.1
packaging==24.2
pip-tools==7.4.1
prompt_toolkit==3.0.51
pymongo==4.12.0
pyproject_hooks==1.2.0
python-dateutil==2.9.0.post0
python-dotenv==1.1.0
pytz==2025.2
setuptools==78.1.0
six==1.17.0
sqlparse==0.5.3
tzdata==2025.2
vine==5.1.0
wcwidth==0.2.13
wheel==0.45.1
